# Bootstrap
app/bootstrap*

# Symfony directories
vendor
build/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

composer.phar

# Atlas Squidget Directory
src/Atlas/GalleryBundle/Resources/public/js/atlas/*

